.form {
  border: 2px solid burlywood;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(222, 184, 135, 0.5);
}