.input,
.invalid_input {
  border: 2px solid burlywood;
  width: 100%;
  max-width: 400px;
  position: relative;
  border-radius: 5px;
  color: burlywood;
  font-weight: 600;
  padding: 2px;
}

.invalid_input {
  border-color: red;
  transition: 0.3s;
}

label {
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 5px;
}

.invalid_input label {
  color: red;
}

input {
  padding: 10px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 17px;
  color: burlywood;
}

input::placeholder {
  color: burlywood;
}

input[type="submit"] {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transform: 0.2s;
  font-weight: 600;
}

input[type="submit"]:hover {
  background-color: burlywood;
  color: white;
}

.invalid {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: red;
  font-size: 12px;
}
  