.player {
  padding: 5px;
  border: 2px solid burlywood;
  border-radius: 2px;
}

.play_as {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
}

.play_as div {
  display: flex;
  flex-direction: column;
}

.time {
  display: flex;
}

.time > div {
  display: flex;
  flex-direction: column;
  margin: 5px;
}