.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 50px;
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
}

.dashboard > div {
  min-width: 250px;
  border: 2px solid burlywood;
  border-radius: 5px;
}

.games {
  flex: 1;
}

.friends {
  flex: 1;
}

.head {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(222, 184, 135, 0.5);
}

@media (min-width: 768px) {
  .games {
    flex: 0.6;
  }

  .friends {
    flex: 0.4;
  }
}