.game {
  padding: 10px;
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
}

.wait {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
